.slider {
	height: 600px;
	background-color: #000;
	border-radius: 28px;
}

.controls {
	padding-left: 60px;
	height: 100%;
}

.slide-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	justify-content: center;
}

.button {
	display: flex;
	align-items: center;
	gap: 10px;

	padding: 14px 32px 14px 14px;
	background-color: rgb(30, 30, 32);
	border-radius: 80px;
	font-size: 17px;
	font-weight: 600;

	
}

.button:hover {
	background-color: rgb(48, 48, 51);
}

.plus-icon {
	--app-pv-icon-fill: #ffffff;
}

.button__icon {
	margin-right: 10px;
	vertical-align: middle;
}
